body{
    background: linear-gradient(to top,  #D4DBDA 80% , #009688 20%);
}

#container{
    height: 100vh;
}

#container .row{
    margin-top: 2%;
    height: 95%;
    max-height: 95%;
}

.user{
    max-height: 10%;
    background-color: #EAEAEA;
}

.user img{
    height: 80%;
    border-radius: 50%;
    margin-left: 10px;
}

.user div:first-child{
    width: 60%;
    font-size: 20px;
    font-weight: 400;
}

.user div:last-child{
    width: 35%;
    color: gray;
    font-size: 25px;
}

.notifications{
    background-color: #8EDAFC;
    height: 12%;
}

.bell{
    background-color: #fff;
    color: #8EDAFC;
    height: 60%;
    border-radius: 50%;
    width: 15%;
    margin: 20px;
    font-size: 25px;
}

.notif-info{
    height: 60%;
    font-size: 17px;
    line-height: 20px;
}

.notif-info p:first-child{
    font-weight: 500;
}

.notif-info p:last-child{
    color: gray;
    text-decoration: underline;
}
