body{
    background: linear-gradient(to top,  #D4DBDA 80% , #009688 20%);
    max-height: 100vh;
    overflow: hidden;
}

#container{
    height: 100vh;
}

#container .row{
    margin-top: 2%;
    height: 95%;
    max-height: 95%;
}

.user{
    height: 90px;
    background-color: #EAEAEA;
}

.user img{
    height: 80%;
    border-radius: 50%;
    margin-left: 10px;
}

.user div:first-child{
    width: 60%;
    font-size: 20px;
    font-weight: 400;
}

.user div{
    max-height: 100%;
}

.user-icons{
    width: 150px;
    color: #B1B1B1;
    font-size: 25px;
}

.notifications{
    background-color: #8EDAFC;
    height: 110px;
}

.bell{
    background-color: #fff;
    color: #8EDAFC;
    height: 60%;
    border-radius: 50%;
    width: 15%;
    margin: 20px;
    font-size: 25px;
}

.notif-info{
    height: 60%;
    font-size: 17px;
    line-height: 20px;
}

.notif-info p:first-child{
    font-weight: 500;
}

.notif-info p:last-child{
    color: gray;
    text-decoration: underline;
}

nav{
    background-color: #EAEAEA;
    height: 65px;
}

.navbar{
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221);
    height: 75%;
    width: 90%;
    border-radius: 5px;
}

.navbar i{
    color: rgb(153, 152, 152);
    margin-left: 20px;
    font-size: 20px;
}

.navbar input{
    border-color: transparent;
    width: 80%;
}

.contacts{
    min-height: calc(95vh - 265px);
    max-height: calc(95vh - 265px);
    overflow-y: scroll;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
}

.contacts li{
    height: 80px;
    border-bottom: 1px solid rgb(241, 241, 241);
    position: relative;
}

.contacts img{
    max-height: 80%;
    border-radius: 50%;
    margin-top: 8px;
}

.contacts span{
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
}

li .last-mex{
    position: absolute;
    color: rgb(165, 165, 165);
    width: 60%;
    font-size: 15px;
    left: 76px;
    top: 47px;
    line-height: 30px;
    max-height: 30px;
    overflow: hidden;
}

li .last-mex-date{
    position: absolute;
    color: rgb(165, 165, 165);
    right: 10px;
    font-size: 12px;
    line-height: 30px;
    max-height: 30px;
    overflow: hidden;
}

.contacts li:hover{
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.contacts li.px-2.active{
    background-color: lightgray;
}

.chat-contact p{
    margin-left: 15px;
}
.last-access{
    color: gray;
}

.chat-display{
    max-height: calc(100vh - 130px);
    min-height: calc(100vh - 130px);
}

.chat-box{
    max-height: 717px;
    min-height: 717px;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    background-attachment: fixed;
    padding: 50px;
}

.sent, .received{
    height: 70px;
    width: 250px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.received{
    background-color: #fff;
}

.sent{
    background-color: #D5F9BA;
    margin-left: 65%;
}

.sent p, .received p{
    font-size: 16px;
    font-weight: 500;
}

.sent-time{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: gray;
    font-size: 13px;
    text-decoration: underline;
}


.message-input{
    height: 84px;
    background-color: #EAEAEA;
    font-size: 25px;
    color: gray;
}

.message-input div{
    width: 10%;
}

.message-input .keyboard{
    width: 90%;
}

.keyboard input{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    border-color: transparent;
    font-size: 18px;
    padding-left: 20px;
}