<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
    <script src="./js/data.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="container" id="container">
            <div class="row">
                <div class="col-4 px-0">
                    <div class="user d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <img :src="`./img/avatar${data.user.avatar}.jpg`" alt="IO">
                            <span>{{data.user.name}}</span>
                        </div>
                        <div class="user-icons d-flex align-items-center justify-content-around">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="notifications d-flex align-items-center">
                        <div class="bell d-flex align-items-center justify-content-center"><i class="fas fa-bell-slash"></i></div>
                        <div class="notif-info">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <nav class="d-flex justify-content-center align-items-center">
                        <div class="navbar">
                            <i class="fas fa-search"></i><input type="text" name="" id="" placeholder="Cerca o inizia una nuova chat" v-model="searchContact">
                        </div>
                    </nav>
                    <ul class="contacts">
                        <li class="px-2" v-for="(contact, index) in data.contacts" v-if="data.contacts[index].name.toLowerCase().trim().includes(searchContact.toLowerCase().trim())" @click="switchChat(index)">
                            <img :src="`./img/avatar${data.contacts[index].avatar}.jpg`" alt="Avatar">
                            <span>{{data.contacts[index].name}}</span>
                            <span class="last-mex">{{data.contacts[index].messages[data.contacts[index].messages.length - 1].message}}</span>
                            <span class="last-mex-date">{{data.contacts[index].messages[data.contacts[index].messages.length - 1].date}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-8 px-0">
                    <div class="chat-display" v-for="(contact, index) in data.contacts" v-show="data.contacts[index].visible">
                        <div class="user chat-contact d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <img :src="`./img/avatar${data.contacts[index].avatar}.jpg`" alt="IO">
                                <p>{{data.contacts[index].name}} <br><span class="last-access">Ultimo accesso oggi alle...</span></p>
                            </div>
                            <div class="user-icons d-flex align-items-center justify-content-around">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="chat-box">
                            <div v-for="(mex, i) in data.contacts[index].messages" :class="contact.messages[i].status">
                                <p>{{data.contacts[index].messages[i].message}}</p>
                                <span class="sent-time">{{data.contacts[index].messages[i].date}}</span>
                            </div>
                        </div>
                        <div class="message-input d-flex">
                            <div class="d-flex justify-content-center align-items-center h-100"><i class="far fa-smile"></i></div>
                            <div class="keyboard d-flex justify-content-center align-items-center h-100">
                                <input type="text" name="" id="" placeholder="Scrivi un messaggio" v-model="newText" @keyup.enter="sendMessage(index)">
                            </div>
                            <div class="d-flex justify-content-center align-items-center h-100"><i class="fas fa-microphone"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>